* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	color: #6c6b6b;
}


.clearfix:after {
	content: "";
	display: block;
	clear: both;
}

header {
	width: 840px;
	height: 400px;
	background-image: url(img/mv.jpg);
	background-size: cover;
	background-position: bottom;
}

header .headline {
	margin: 0 auto;
	padding: 20px;

}

.main {
	width: 60%;
	margin:50px auto;

}

.box1 {
	padding-bottom: 30px;
	border-bottom: 1px solid #848282
}

.box2 {
	padding-bottom: 30px;
	border-bottom: 1px solid #848282
}

.box3 {
	padding-bottom: 30px;
	border-bottom: 1px solid #848282
}

.box4 {
	padding-bottom: 30px;
	border-bottom: 1px solid #848282
}
